{% extends "base.html" %}

{% block content %}

<br><h2><table bgcolor = #ffcb05>
{% if api_error %}
	<br>
	<td>Whoops! This subject does not appear to be available for this term.</td>
	</table>
{% else %}
	<td> Select Your Subject </td>
	</table></h2>
{% endif %}

<table bgcolor = white>
{% set count = 0 %}
{% for subject in subjects %}

{% if subject['SubjectShortDescr'] != subject['SubjectCode'] %}
	<tr>
		<td><button>
		<a href="/{{term}}/{{school}}/{{subject['SubjectCode']}}">
		<font color = black> {{ subject['SubjectCode'] }} </font></a>
		</button></td>
		<td>{{subject['SubjectDescr']}}</td>
	</tr>
	{% set count = 1 %}
{% else %}
	{% if count == 0 %}
	<tr>
		<td>Subject currently unavailable. </td><td> Check back soon!</td>
		{% set count = 1 %}
	{% endif %}
		{% endif %}
{% endfor %} 
</table>

</br>
<footer><center><table bgcolor = #ffcb05>
<td><a href='/'><font color = black> Back To Main Page </td><td>_______________</td>
<td><a href='/mybackpack'><font color = black> View Your Backpack!
</font></a></td></table></center>
</footer>

{% endblock %}
